<nav class="navbar">
    <ul class="navbar-list">
        <li class="navbar-list__item">
            <a class="navbar-list__link" ui-sref="welcome">navLink</a>
        </li>
        <li class="navbar-list__item">
            <a class="navbar-list__link" ui-sref="welcome">navLink</a>
        </li>
        <li class="navbar-list__item">
            <a class="navbar-list__link" ui-sref="welcome">navLink</a>
        </li>
    </ul>
    <div class="navbar-button">
       <sign-out></sign-out>
    </div>
</nav>