.sign-in {
  &__input {
    display: block;
    background-color: fadeout(#000, 80%);
    border: 1px solid #333;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    color: #fff;
    
    &::-webkit-input-placeholder {
      color: #ccc;
    }
  }

  &__button {
    display: block;
    background-color: #2d2aff;
    border: 1px solid #1C00FF;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    color: #fff;
    cursor: pointer;
  }
}